@model IEnumerable<SilberScarves.Models.ScarfItem>

@{
    ViewBag.Title = "Cart";
}

<h2>Your Shopping Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>          
                @Html.ActionLink("Remove", "RemoveFromCart", "Products", new { id=item.scarfId })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Checkout", "Checkout", "Products", new {area = ""}, new {@class="btn btn-primary"})
