<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/public" class="navbar-brand" > SilberScarves </a>   
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Public", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, null)</li>
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Inventory", "Index", "ProductAdmin", new { area = "admin" }, null)
                                </li> 
                                <li>
                                    @Html.ActionLink("Pending Orders", "Index", "OrderAdmin", new {area = "admin"}, null)                                   
                                </li>                                                                                       
                            </ul>
                        </li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <p class="navbar-text"> Welcome @Html.Raw(User.Identity.Name) | @Html.ActionLink("Order History", "History", "Products", new { area = "" }, null) | @Html.ActionLink("Logout", "Logout", "Auth", new { area = "" }, null) </p>
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Auth", new { area = "" }, null);

                        }
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>