@model System.Collections.Generic.IEnumerable<SilberScarves.Models.ScarfItem>

@{
    ViewBag.Title = "Details";
}

<h2>Customer Order Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        
        
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>   
            
        </tr>
    }
    <tr style="border-top:2px solid black">
        <td><b> TOTAL: </b></td>
        <td></td>
        <td><b>  @Model.Sum(s => s.price) </b></td>        
        
    </tr>
</table>

@Html.ActionLink("Back to List", "Index", new {area = "admin"}) 
@Html.ActionLink("Ship", "Ship", new{area="admin", id=ViewBag.OrderId})